<a href="https://colab.research.google.com/github/Eder-david/Repositorio-de-Tareas/blob/main/Tarea2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
print("\t \t \t \t \t \t \t   Automoviles")
Automoviles=[]
Placa1=input("Mencione la placa del 1er carro: ")
Modelo1= input("Mencione el 1er modelo deseado: ")
Año1= int(input("Mencione el año: "))
print("Ingrese los datos del segundo carro a adquirir: ")
Placa2= input("Mencione la placa del 2do carro: ")
Modelo2= input("Mencione el 2do modelo deseado: ")
Año2= input("Mencione el año: ")
Automovil_1={ 'Placa_1': Placa1, 'Modelo_1':Modelo1}
Automovil_2={ 'Placa_2': Placa2, 'Modelo_2':Modelo2}
Automovil_1.update({'Año_1':Año1})
Automovil_2.update({'Año_2':Año2})
Automoviles.append(Automovil_1)
Automoviles.append(Automovil_2)
print("Sus Automoviles solicitados son: ", Automoviles)

	 	 	 	 	 	 	   Automoviles
Mencione la placa del 1er carro: ADFF78
Mencione el 1er modelo deseado: NISSAN
Mencione el año: 1978
Ingrese los datos del segundo carro a adquirir:
Mencione la placa del 2do carro: SAD78
Mencione el 2do modelo deseado: VOLKSWAGEN
Mencione el año: 1789
Sus Automoviles solicitados son:  [{'Placa_1': 'ADFF78', 'Modelo_1': 'NISSAN', 'Año_1': 1978}, {'Placa_2': 'SAD78', 'Modelo_2': 'VOLKSWAGEN', 'Año_2': '1789'}]

In [9]:
print(Automoviles[0]['Placa_1'])
print(Automoviles[0]['Modelo_1'])
print(Automoviles[0]['Año_1'])

ADFF78
NISSAN
1978

In [10]:
print(Automoviles[1]['Placa_2'])
print(Automoviles[1]['Modelo_2'])
print(Automoviles[1]['Año_2'])

SAD78
VOLKSWAGEN
1789